walltime="01:00:00"
procs=5
memory=5
custom="""#PBS -M luke.zappia@mcri.edu.au
#PBS -m ae"""

commands {
    describe {
        executor="local"
    }

    sra_download {
        modules="R"
        procs=1
        memory=1
    }

    fastq_dump {
        procs=1
        memory=1
    }

    fastqc {
        modules="fastqc"
        memory=4
    }

    fastq_screen {
        modules="bowtie2"
        memory=4
    }

    kallisto_multi {
        modules="kallisto"
    }

    kallisto_quant {
        modules="kallisto"
        procs=5
        memory=1
    }

    kallisto_merge {
        modules="R"
        procs=1
        memory=1
    }

    star_1pass_PE {
        modules="star"
    }

    star_2pass_genome {
        modules="star"
    }

    star_2pass_load {
        executor="local"
        modules="star"
    }

    star_2pass_PE {
        modules="star"
        procs=5
    }

    star_2pass_remove {
        executor="local"
        modules="star"
    }

    star_stats {
        procs=1
        memory=1
    }

    count_GTF {
        modules="subread"
        memory=4
    }

    sort_bam {
        modules="samtools"
        procs=4
        memory=4
    }

    index_bam {
        modules="samtools"
        procs=1
        memory=4
    }

    align_stats {
    }

    multiqc {
        procs=1
        memory=1
    }

    cleanup {
        executor="local"
    }
}
